//============================
//Color variables
//============================
$error: #ec7063;
$success: #82e0aa;
$info:#5499c7;
$portal-navbar-color:#273746;
$link-color:#273746;
$hr-color:#82e0aa;
$general: #fff;
$paragraph: #000;
$color-shade: #eee;
$headerText-color:#76D7C4;
$footer-social: #78909C;
$testimonial-color:#273746;
$hr-color: #82e0aa;
$navbg-color:#808B96;
$testimonial-note:#ccd1d1;
$profile-image-border: #99a3a4;
//BASE COLOR
$icons-bg: #f06292;
$primary-nav: #E5E7E9;
//$darken-social-nav: darken($base, 15%);
//$light-social-nav: lighten($base, 15%);
//COMPLEMENT COLORS
//$primary-color: complement($base);
$icons-complement-bg: complement($icons-bg);
//fonts
$font-primary: 'Fjalla One';
$intro-font: 'Finger Paint';
$testimonial-font:'Comfortaa';
$font-baloo: 'Baloo Chettan';
$font-abel:'Abel';
//